/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgba(255,255,255,.75);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #9e1b20;
}
body {
  color: #fff;
  font-size: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  //border: solid;
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 40px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: center;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  font-family: source_sans_proextralight, Helvetica, Sans-Serif;
  font-size: 24px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  font-family: source_sans_proextralight, Helvetica, Sans-Serif;
  font-size: 16px;
}

.int_contact {
  font-family: source_sans_proregular, Helvetica, Sans-Serif;
  color: #999;
  color: rgba(255,255,255, 1);
}

#int_info p {
    padding: 0;
    margin: 0;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 60px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
