@font-face {
    font-family: 'Seravek';
    src: url('fonts/Seravek.ttc') format('truetype');
//    src: url('fonts/Seravek-Regular.otf');
}

@font-face {
    font-family: 'Seravek ExtraLight';
    src: url('fonts/Seravek-ExtraLight.otf');
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    height: 100%;
    width: 90%;
    min-width: 300px;
    margin: 0;
    padding: 10px 0 0 0;
    background-color: #9e1b20;
    font-size: 62.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    height: 40%;
    min-height: 128px;
    margin: 0px 0 0 0;
    padding: 0;
    text-align: center;
}

#content {
    height: 40%;
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-family:"Seravek ExtraLight, Sans, Ubuntu";
    font-size: 1.9em;
    font-variant: normal;
    font-weight: 200;
    font-stretch: normal;
}

#footer {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-family: "Seravek ExtraLight, Sans, Ubuntu";
    font-size: 1.5em;
    font-variant: normal;
    font-stretch: normal;
    font-weight: lighter;
}

#int_info p {
    margin: 0;
    padding: 0;
}

.int_contact {
    font-family: "Seravek, Ubuntu";
    font-weight: normal;
}

#int_email {
    text-decoration: none;
    color: #ffffff;
}
